name: steps-deploy
on:
  workflow_call: 
    inputs:
      env:
        type: string
        required: true
      app_service_name:
        type: string
        required: true
        
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true
        
jobs:
  deploy:
    name: Deploy ${{ inputs.env }}
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    
    steps:
      - uses: actions/checkout@v4
        
      - name: Download artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: ContactsManager artifact
          path: artifacts
      
      - name: Azure Login
        run: echo "Client ${{ inputs.AZURE_CLIENT_ID }} Tenant ${{ inputs.AZURE_TENANT_ID }} Subsription ${{ inputs.AZURE_SUBSCRIPTION_ID }}"
      
      - name: Deploy to Azure App Service
        run: echo "app service name ${{ inputs.app_service_name }}"
